body{
    background-color: rgb(20, 83, 62);
}
section{
font-size: 10px;
font-variant-position: super;
    padding-left: 30px;
    border-radius: 20px; 
    background-color: #25271a;
}
.div clear{
color: rgba(0, 0, 0, .5);

}
 

